<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}MyGiftBox
			{% endblock %}
		</title>
		<style>
			body {
				margin: 0;
				font-family: Arial, sans-serif;
				display: grid;
				grid-template-areas: "header header" "nav main" "footer footer";
				grid-template-rows: auto 1fr auto;
				grid-template-columns: 200px 1fr;
				min-height: 100vh;
			}

			header {
				grid-area: header;
				background-color: #333;
				color: white;
				padding: 1rem;
				text-align: center;
			}

			nav {
				grid-area: nav;
				background-color: #f4f4f4;
				padding: 1rem;
				border-right: 1px solid #ddd;
			}

			nav ul {
				list-style-type: none;
				padding: 0;
			}

			nav ul li {
				margin-bottom: 0.5rem;
			}

			nav ul li a {
				text-decoration: none;
				color: #333;
			}

			nav ul li a:hover {
				color: #007BFF;
			}

			main {
				grid-area: main;
				padding: 2rem;
			}

			footer {
				grid-area: footer;
				background-color: #333;
				color: white;
				text-align: center;
				padding: 1rem;
			}
		</style>
	</head>
	<body>

		<header>
			<h1>MyGiftBox.net</h1>
		</header>

		<nav>
			<ul>
				<li><a href="{{ url_for('accueil') }}">Accueil</a></li>
				<li><a href="{{ url_for('categories') }}">Catégories</a></li>
				<li><a href="{{ url_for('prestations') }}">Prestations</a></li>
				<li><a href="{{ url_for('themes') }}">Themes</a></li>
				<li><a href="{{ url_for('coffret_types') }}">Coffret_types</a></li>
				<li><a href="{{ url_for('boxes') }}">Boxes</a></li>
				<li><a href="{{url_for('register') }}">S'enregistrer</a></li>
				<li><a href="{{url_for('login') }}">Connexion</a></li>
				{% if isAuthenticated %}
				<li><a href="{{ url_for('logout') }}">Déconnexion</a></li>
				{% endif %}
			</ul>
		</nav>

		<main>
			{% block content %}{% endblock %}
		</main>

		<footer>
			<p>&copy;
				{{ "now"|date("Y") }}
				MyGiftBox.net. Tous droits réservés.</p>
		</footer>

	</body>
</html>
